---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/UniverseCard.astro";
import HeroCard from "../components/HeroCard.astro";
---

<MainLayout title="Titel">
  <main class="">
    <!--Hero-->
    <HeroCard
      backgroundImage="/img/hero_img1.jpg"
      backgroundAlt="Lillefinger ligger i en græsslette"
      logo="/svg/lillefinger_logo.svg"
      logoAlt="Lillefinger logo"
      heading="Hulen"
      description="Nogle gange er det godt at have en hule sammen med sin bedste ven, hvor man kan bo, helt uden nogen voksne."
      playLabel="Se mere"
      playIcon="/svg/play.svg"
    />
    <!--Hero slut-->

    <!-- start UniverseCard -->
    <section class="w-[275px]">
      <Card image="/img/vitello.jpg" alt="Vitello cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/pipungerne.jpg" alt="Pipungerne cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/snutte.jpg" alt="Snutte cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/lillefinger.jpg" alt="Lillefinger cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/cirkeline.jpg" alt="Cirkeline cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/vitello.jpg" alt="Vitello cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/pipungerne.jpg" alt="Pipungerne cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/snutte.jpg" alt="Snutte cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/lillefinger.jpg" alt="Lillefinger cover" />
    </section>

    <section class="w-[275px]">
      <Card image="/img/cirkeline.jpg" alt="Cirkeline cover" />
    </section>
    <!-- slut UniverseCard -->

    <!--Single Hero med metadata-->
    <HeroCard
      backgroundImage="/images/lillefinger_bg.jpg"
      logo="/images/lillefinger_logo.png"
      genre="Animation/Eventyr"
      year="2012"
      duration="45 min"
      ageLabel="3–7 år"
      showHdTag={true}
      heading="Hulen"
      description="Lillefinger vil gerne lege med Myren..."
      playLabel="Afspil"
      playIcon="/svg/play.svg"
      favoriteLabel="Mine favoritter"
      favoriteIcon="/svg/heart.svg"
    />
  </main>
</MainLayout>
