---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import CategoryCard from "../components/CategoryCard.astro";
import FilmCard from "../components/FilmCard.astro";
import TopTenCard from "../components/TopTenCard.astro";
import FilmCardTimeline from "../components/FilmCardTimeline.astro";
import HeroCard from "../components/HeroCard.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4 bg-black">
    <Heading htmlheading="h1" size="large">Komponentbibliotek</Heading>
    <Text stylingclasses="italic"
      >Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text
    >
    <hr class="my-4" />
    <!-- start på typografi -->
    <section>
      <Heading htmlheading="h4" size="h4">Typografi & ovesrkrifter</Heading>
      <Text
        >Her kan du finde alle de overskrifter og typer brødtekst, der er brugt
        i dette projekt.</Text
      >
      <Heading htmlheading="h1" size="h1">h1 - sans</Heading>
      <Heading htmlheading="h2" size="h2">h2 - sans</Heading>
      <Heading htmlheading="h3" size="h3">h3 - sans</Heading>
      <Heading htmlheading="h4" size="h4">h4 - sans</Heading>
      <Heading htmlheading="h5" size="h5">h5 - sans</Heading>
      <Text teksttype="p">
        Her er en sektion brødtekst: Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi
        recusandae veniam. Corporis totam <Link href="#">Default link: </Link> reiciendis
        quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi
        enim!
      </Text>
      <Text teksttype="p_smaller">
        Her en sektion mindre tekst: Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi
        recusandae veniam. Corporis totam reiciendis quibusdam ratione iure aut,
        numquam tenetur voluptatem exercitationem sequi enim!
      </Text>
      <Text teksttype="p_bigger">
        Her er en sektion større brødtekst: Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque
        quisquam quasi recusandae veniam. Corporis totam <Link href="#"
          >Default link:
        </Link> reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem
        exercitationem sequi enim!
      </Text>
    </section>
    <!-- slut på typografi -->
    <hr class="my-4" />
    <!-- Link komponent instanser -->
    <section>
      <Heading htmlheading="h4" size="h4">Links</Heading>
      <Text teksttype="p">
        Dette er en tekst med et <Link href="#" teksttype="p">link</Link>.
      </Text>
      <Text teksttype="p_smaller">
        Dette er en tekst med et <Link href="#" teksttype="p_smaller">link</Link
        >.
      </Text>
      <Text teksttype="p_bigger">
        Dette er en tekst med et <Link href="#" teksttype="p_bigger">link</Link
        >.
      </Text>
      <div>
        <Link href="#" teksttype="p">Link for sig selv</Link>
      </div>
      <div>
        <Link href="#" teksttype="p_smaller">Link for sig selv</Link>
      </div>
      <div>
        <Link href="#" teksttype="p_bigger">Link for sig selv</Link>
      </div>
    </section>
    <!-- Slut på Link komponent instanser -->
    <hr class="my-4" />
    <!-- Buttons komponent instanser -->
    <section>
      <Heading htmlheading="h4" size="h4">Buttons</Heading>
      <!-- Orange "Afspil" -->
      <Button variant="primary" icon="/svg/play.svg">Afspil</Button>

      <!-- Grå "Mine favoritter" -->
      <Button variant="secondary" icon="/svg/heart.svg">Mine favoritter</Button>

      <!-- Orange "Log ind" -->
      <Button variant="primary" icon="/svg/lock.svg">Log ind</Button>

      <!-- Grå "Tilmeld dig" -->
      <Button variant="secondary" icon="/svg/lock.svg">Tilmeld dig</Button>

      <!-- Orange "Se mere" -->
      <Button variant="primary" icon="/svg/play.svg">Se mere</Button>
    </section>
    <!-- Slut på Buttons komponent instanser -->
    <section>
      <Heading htmlheading="h4" size="h4">Card components</Heading>
      <CategoryCard icon="/svg/cat_dyr1.svg" label="Dyr" />
      <FilmCard
        img="/img/might_like_img1.jpg"
        title="Lillefinger - Min bedste ven"
        time={5}
      />
      <TopTenCard
        img="/img/top10_1.jpg"
        title="Lillefinger - Marmeladetyven"
        time={5}
        rank={1}
      />
      <FilmCardTimeline
        img="/img/lillefinger_marmeladetyven.jpg"
        title="Lillefinger - Marmeladetyven"
        time={5}
      />
      <HeroCard
        backgroundImage="/img/lillefinger_hulen.png"
        logo="/svg/lillefinger_logo.svg"
        genre="Animation/Eventyr"
        year="2012"
        duration="45 min"
        ageLabel="3–7 år"
        showHdTag={true}
        heading="Hulen"
        description="Lillefinger vil gerne lege med Myren, men Myren har travlt med at passe sine homies i det lille hus. Da Lillefingers marmelade pludselig forsvinder, går han på jagt efter den hemmelige tyv. En sød og rolig historie om venskab, nysgerrighed og at forstå hinanden."
        playLabel="Afspil"
        playIcon="/svg/play.svg"
        favoriteLabel="Mine favoritter"
        favoriteIcon="/svg/heart.svg"
      />
      <HeroCard
        backgroundImage="/img/hero_img1.jpg"
        backgroundAlt="Lillefinger ligger i en græsslette"
        logo="/svg/lillefinger_logo.svg"
        logoAlt="Lillefinger logo"
        heading="Hulen"
        description="Nogle gange er det godt at have en hule sammen med sin bedste ven, hvor man kan bo, helt uden nogen voksne."
        playLabel="Se mere"
        playIcon="/svg/play.svg"
      />
    </section>
  </main>
</MainLayout>
